h1 {
    color: red;
    font-style: italic;
    font-size: larger;
}
h2 {
    color: cyan;
    font-style: italic;
    font-size: larger;
}
h3 {
    color: cyan;
    font-style: italic;
    font-size: larger;
}
img{
    height: 450px;
    width: 400px;
}
.author {
    color: green;
    font-style: oblique;
    float: left;
}
h4 {
    font-size: larger;
}
#line1 {
    color: blue;
}
.important {
    background-color: cadetblue;

}
.line2 {
    color: red;
    font-size: x-large;
}
.unimportant {
    background-color: sienna;
}